
.comfortaa-font> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color: #f2d88f;
  --primary-color: #6698cc;
  --text-color: #333333;
  --blush-color: #e36888;
  --merlot-color:#570301;
  --candy-blush:#f8f0db;
}